.about {
    padding: 5rem 0;
    padding-top: 4rem;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
    padding-top: 2rem;
    text-align: center;
    color: var(--color-text);
}

.about-text {
    margin-bottom: 3rem;
}

.highlight {
    font-size: 1.5rem;
    color: var(--color-text);
    margin-bottom: 2rem;
    font-weight: 500;
}

@media (max-width: 968px) {
    .experience-grid {
        max-width: 600px;
        margin: 3rem auto 0;
    }
}

@media (max-width: 500px) {
    .experience-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
