body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 80px;
    grid-template-areas: 'header' 'main' 'footer';
    background-color: #14213d;
}

header {
    grid-area: 'header';
}

main {
    grid-area: 'main';
}

footer {
    grid-area: 'footer';
}