@import url("variables.css");
@import url("fonts.css");

@import url("navbar.css");

@import url("hero.css");
@import url("about.css");
@import url("projects.css");
@import url("tech-stack.css");
@import url("experience.css");
@import url("education.css");

@import url("footer.css");

@import url("animations.css");
