nav {
    margin: auto;
    width: 70%;
    min-height: 90px;
}

.navbar-collapse {
    justify-content: flex-end;
}

main {
    /* display: flex; */
    /* justify-content: center; */
    width: 70%;
    margin: auto;
}

div.bg-light {
    /* width: 70%; */
    padding: 40px;
}

div.ling {
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

div.bg-light p, p.card-text {
    text-align: justify;
}

button.navbar-toggler:focus {
    outline: none;
}

p.sec {
    font-size: 18px;
}

div.card button.btn-secondary {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

footer {
    color: white;
    text-align: center;
}

@media (max-width: 990px) {
    nav, main {
        width: 80%;
    }
}

/* @media (min-width: 770px) {
    img.img-thumbnail {
        min-width: 180px;
    }

    .col-md-8 {
        margin-left: 40px;
    }
} */

@media (max-width: 770px) {
    img.img-thumbnail {
        max-height: 400px;
    }

    .col-md-3 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* .col-md-8 {
        text-align: center;
    } */

    .no-gutters {
        margin: auto;
    }

    /* div.card-body {
        padding: 1.25rem 0px;
    } */
}