name: Cleanup GHCR
on:
  schedule: [{ cron: "0 0 * * *" }]
  workflow_dispatch:

jobs:
  clean:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/delete-package-versions@v5
        with:
          package-name: "portfolio"
          package-type: "container"
          min-versions-to-keep: 3
